@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  background: black;
  font-family: 'Orbitron', sans-serif;
}

h1 {
  margin-top: 50px;
  text-align: center;
  color: linen;
}

h5, a {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-bottom: 10px;
  text-align: center;
  color: linen;
  text-decoration: none;
}


#canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 600px;
  background: white;
  font-family: 'Orbitron', sans-serif;
}